<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fuckbook_Scheduler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Fuckbook_Scheduler.Properties.Settings>
            <setting name="IsSettingDone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAutoStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EndTime" serializeAs="String">
                <value>03/01/2015 21:00:00</value>
            </setting>
            <setting name="StartTime" serializeAs="String">
                <value>03/01/2015 21:30:00</value>
            </setting>
        </Fuckbook_Scheduler.Properties.Settings>
    </userSettings>
</configuration>